.elecForm {
    margin-left: 30%;
    width: 45%;
    border: 3px solid #673ab7;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.moveLeft {
    margin-left: 5px;
}

.nameInp {
    margin-left: 10%;
    width: 39%;
}

.uidInpt {
    margin-left: 5%;
    width: 39%;
}

#title {
    border-bottom: 3px solid #673ab7;
    margin-bottom: 10%;
    text-align: center;
}

.upaInp {
    margin-left: 4%;
}

#nationalVote {
    text-align: center;
}

.save-btn {
    color: white;
    background-color: #673ab7;
    margin-left: 33%;
    margin-bottom: 10%;
    margin-top: 5%;
}

.reset {
    color: #673ab7;
}

.save-btn,
.reset {
    border: 2px solid #673ab7;
    width: 18%;
}

#totalNo {
    position: relative;
    top: -30px;
    left: 4%
}

.selOptns {
    width: 40%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.note {
    margin-top: 10px;
    color: #9b9393;
}

.remaining-seats {
    margin-bottom: 8px;
}