<!-- <div *ngFor = "let const of constituents">
  <span>{{const}}</span><br>
</div> -->
<mat-accordion>
  <mat-expansion-panel *ngFor = "let data of detailedData; let i = index;">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{data.aaname}}
      </mat-panel-title>
      <mat-panel-description>
        
      </mat-panel-description>
    </mat-expansion-panel-header>
    <span class="person{{i}}" >
    Alappuzha : {{data.Alappuzha}} <span class="count"  *ngIf = 'res_Alappuzha === data.Alappuzha'> - correct</span> <br>
    Alathur: {{data.Alathur}} <span class="count" *ngIf = 'res_Alathur === data.Alathur'> - correct</span> <br>
    Attingal: {{data.Attingal}} <span class="count" *ngIf = 'res_Attingal === data.Attingal'> - correct</span> <br>
    Chalakudy: {{data.Chalakudy}} <span class="count" *ngIf = 'res_Chalakudy === data.Chalakudy'> - correct</span> <br>
    Ernakulam: {{data.Ernakulam}} <span class="count" *ngIf = 'res_Ernakulam === data.Ernakulam'> - correct</span> <br>
    Idukki: {{data.Idukki}} <span class="count" *ngIf = 'res_Idukki === data.Idukki'> - correct</span> <br>
    Kannur: {{data.Kannur}} <span class="count" *ngIf = 'res_Kannur === data.Kannur'> - correct</span> <br>
    Kasaragod: {{data.Kasaragod}} <span class="count" *ngIf = 'res_Kasaragod === data.Kasaragod'> - correct</span> <br>
    Kottayam: {{data.Kollam}} <span class="count" *ngIf = 'res_Kottayam === data.Kollam'> - correct</span> <br>
    Kozhikode: {{data.Kozhikode}} <span class="count" *ngIf = 'res_Kozhikode === data.Kozhikode'> - correct</span> <br>
    Malappuram: {{data.Malappuram}} <span class="count" *ngIf = 'res_Malappuram === data.Malappuram'> - correct</span> <br>
    Mavelikkara: {{data.Mavelikkara}} <span class="count" *ngIf = 'res_Mavelikkara === data.Mavelikkara'> - correct</span> <br>
    Palakkad: {{data.Palakkad}} <span class="count" *ngIf = 'res_Palakkad === data.Palakkad'> - correct</span> <br>
    Pathanamthitta: {{data.Pathanamthitta}} <span class="count" *ngIf = 'res_Pathanamthitta === data.Pathanamthitta'> - correct</span> <br>
    Ponnani: {{data.Ponnani}} <span class="count" *ngIf = 'res_Ponnani === data.Ponnani'> - correct</span> <br>
    Thiruvananthapuram: {{data.Thiruvananthapuram}} <span class="count" *ngIf = 'res_Thiruvananthapuram === data.Thiruvananthapuram'> - correct</span> <br>
    Thrissur: {{data.Thrissur}} <span class="count" *ngIf = 'res_Thrissur === data.Thrissur'> - correct</span> <br>
    Vatakara: {{data.Vatakara}} <span class="count" *ngIf = 'res_Vatakara === data.Vatakara'> - correct</span> <br>
    Wayanad: {{data.Wayanad}} <span class="count" *ngIf = 'res_Wayanad === data.Wayanad'> - correct</span> <br>
      </span>
  </mat-expansion-panel>
</mat-accordion>
