<form #poll = "ngForm" (ngSubmit) = "onClickSubmit(poll.value)">
  <div class="container">
    <h1> POLL - 2019 - Kerala </h1>
      <mat-form-field>
        <input matInput placeholder="UID" name="UID" ngModel required>
      </mat-form-field>
      <br/>
      <mat-form-field>
        <mat-select  placeholder="Thiruvananthapuram" name="Thiruvananthapuram"  ngModel required>
          <mat-option *ngFor="let cndidate of Thiruvananthapuram" [value]="cndidate.value">
            {{cndidate.viewValue}}
          </mat-option>
        </mat-select>
     </mat-form-field>
     <br/>
     <mat-form-field>
        <mat-select placeholder="Attingal" name="Attingal" ngModel required>
          <mat-option *ngFor="let cndidate of Attingal" [value]="cndidate.value">
            {{cndidate.viewValue}}
          </mat-option>
        </mat-select>
     </mat-form-field>
     <br/>
     <mat-form-field>
        <mat-select placeholder="Kollam" name="Kollam" ngModel required>
          <mat-option *ngFor="let cndidate of Kollam" [value]="cndidate.value">
            {{cndidate.viewValue}}
          </mat-option>
        </mat-select>
     </mat-form-field>
     <br/>
     <mat-form-field>
        <mat-select placeholder="Pathanamthitta" name="Pathanamthitta" ngModel required>
          <mat-option *ngFor="let cndidate of Pathanamthitta" [value]="cndidate.value">
            {{cndidate.viewValue}}
          </mat-option>
        </mat-select>
     </mat-form-field>
     <br/>
     <mat-form-field>
        <mat-select placeholder="Mavelikkara" name="Mavelikkara" ngModel required>
          <mat-option *ngFor="let cndidate of Mavelikkara" [value]="cndidate.value">
            {{cndidate.viewValue}}
          </mat-option>
        </mat-select>
     </mat-form-field>
     <br/>
     <mat-form-field>
        <mat-select placeholder="Alappuzha" name="Alappuzha" ngModel required>
          <mat-option *ngFor="let cndidate of Alappuzha" [value]="cndidate.value">
            {{cndidate.viewValue}}
          </mat-option>
        </mat-select>
     </mat-form-field>
     <br/>
     <mat-form-field>
        <mat-select placeholder="Kottayam" name="Kottayam" ngModel required>
          <mat-option *ngFor="let cndidate of Kottayam" [value]="cndidate.value">
            {{cndidate.viewValue}}
          </mat-option>
        </mat-select>
     </mat-form-field>
     <br/>
     <mat-form-field>
        <mat-select placeholder="Idukki" name="Idukki" ngModel required>  
          <mat-option *ngFor="let cndidate of Idukki" [value]="cndidate.value">
            {{cndidate.viewValue}}
          </mat-option>
        </mat-select>
     </mat-form-field>
     <br/>
     <mat-form-field>
        <mat-select placeholder="Ernakulam" name="Ernakulam" ngModel required>
          <mat-option *ngFor="let cndidate of Ernakulam" [value]="cndidate.value">
            {{cndidate.viewValue}}
          </mat-option>
        </mat-select>
     </mat-form-field>
     <br/>
     <mat-form-field>
        <mat-select placeholder="Chalakudy" name="Chalakudy" ngModel required>
          <mat-option *ngFor="let cndidate of Chalakudy" [value]="cndidate.value">
            {{cndidate.viewValue}}
          </mat-option>
        </mat-select>
     </mat-form-field>
     <br/>
     <mat-form-field>
        <mat-select placeholder="Thrissur" name="Thrissur" ngModel required>
          <mat-option *ngFor="let cndidate of Thrissur" [value]="cndidate.value">
            {{cndidate.viewValue}}
          </mat-option>
        </mat-select>
     </mat-form-field>
     <br/>
     <mat-form-field>
        <mat-select placeholder="Alathur"  name="Alathur" ngModel required>
          <mat-option *ngFor="let cndidate of Alathur" [value]="cndidate.value">
            {{cndidate.viewValue}}
          </mat-option>
        </mat-select>
     </mat-form-field>
     <br/>
     <mat-form-field>
        <mat-select placeholder="Palakkad" name="Palakkad" ngModel required>
          <mat-option *ngFor="let cndidate of Palakkad" [value]="cndidate.value">
            {{cndidate.viewValue}}
          </mat-option>
        </mat-select>
     </mat-form-field>
     <br/>
     <mat-form-field>
        <mat-select placeholder="Ponnani" name="Ponnani" ngModel required>
          <mat-option *ngFor="let cndidate of Ponnani" [value]="cndidate.value">
            {{cndidate.viewValue}}
          </mat-option>
        </mat-select>
     </mat-form-field>
     <br/>
     <mat-form-field>
        <mat-select placeholder="Malappuram" name="Malappuram" ngModel required>
          <mat-option *ngFor="let cndidate of Malappuram" [value]="cndidate.value">
            {{cndidate.viewValue}}
          </mat-option>
        </mat-select>
     </mat-form-field>
     <br/>
     <mat-form-field>
        <mat-select placeholder="Kozhikode" name="Kozhikode" ngModel required>
          <mat-option *ngFor="let cndidate of Kozhikode" [value]="cndidate.value">
            {{cndidate.viewValue}}
          </mat-option>
        </mat-select>
     </mat-form-field>
     <br/>
     <mat-form-field>
        <mat-select placeholder="Wayanad" name="Wayanad" ngModel required>
          <mat-option *ngFor="let cndidate of Wayanad" [value]="cndidate.value">
            {{cndidate.viewValue}}
          </mat-option>
        </mat-select>
     </mat-form-field>
     <br/>
     <mat-form-field>
        <mat-select placeholder="Vatakara" name="Vatakara" ngModel required>
          <mat-option *ngFor="let cndidate of Vatakara" [value]="cndidate.value">
            {{cndidate.viewValue}}
          </mat-option>
        </mat-select>
     </mat-form-field>
     <br/>
     <mat-form-field>
        <mat-select placeholder="Kannur" name="Kannur" ngModel required>
          <mat-option *ngFor="let cndidate of Kannur" [value]="cndidate.value">
            {{cndidate.viewValue}}
          </mat-option>
        </mat-select>
     </mat-form-field>
     <br/>
     <mat-form-field>
        <mat-select placeholder="Kasaragod" name="Kasaragod" ngModel required>
          <mat-option *ngFor="let cndidate of Kasaragod" [value]="cndidate.value">
            {{cndidate.viewValue}}
          </mat-option>
        </mat-select>
     </mat-form-field>
     <br/>
     <button class="save-btn" mat-raised-button>Save</button>
  </div>
</form>
